[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "submodules/InfiniOps"]
	path = submodules/InfiniOps
	url = https://github.com/InfiniTensor/InfiniOps.git
[submodule "submodules/InfiniCCL"]
	path = submodules/InfiniCCL
	url = https://github.com/InfiniTensor/InfiniCCL.git
	branch = master
