[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "third_party/flash-attention"]
	path = third_party/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
	ignore = untracked
	update = none
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
	ignore = untracked
	update = none
[submodule "submodules/InfiniRT"]
	path = submodules/InfiniRT
	url = https://github.com/InfiniTensor/InfiniRT.git
	branch = master
[submodule "submodules/InfiniOps"]
	path = submodules/InfiniOps
	url = https://github.com/InfiniTensor/InfiniOps.git
[submodule "submodules/InfiniCCL"]
	path = submodules/InfiniCCL
	url = https://github.com/InfiniTensor/InfiniCCL.git
	branch = master
[submodule "third_party/mate"]
	path = third_party/mate
	url = https://github.com/MooreThreads/mate
  branch = v0.1.3
	ignore = untracked
	update = none
