# Xmake cache
.xmake/
build/
python/infinicore/lib/*.so
sglang-0.5.17/
sglang-0.5.18/
vllm-0.27.1/
reference/
reference-infinilm-deepseek_v4/
# MacOS Cache
.DS_Store

# Vscode
.vscode/

# Pycharm
.idea/

# Python
__pycache__/
*.egg-info/

# Log
*.log

# Cache
cache/

# JSON
*.json

#GGUF
*.gguf

# Compressed
*.gz
*.zip
*.tar
reference_modeling_deepseek_v4.py
aaa.txt
